// ---------------------------------------------------------------------
// Box
// ---------------------------------------------------------------------
.box {
    padding: 20px;
    background-color: #efefef;
    border: 1px solid #3071a9;
}

.box-hd {
    margin-bottom: 20px;
}

.box-bd {

}

.box-ft {}

