// ---------------------------------------------------------------------
// 6 Column Grid
// ---------------------------------------------------------------------
@import '_helpers';

.grid:before,
.grid:after {
    content: " ";
    display: table;
}

.grid:after {
    clear: both;
}

.grid-col {
    float: left;
}

.grid-col-pull {
    float: right;
}

.grid-col + .grid-col {
  // margin-top: 20px;
  // margin-left: 2.127663%;
}

@media only screen and (min-width: 0px) {
  @import '_grid_sm';
}

@media only screen and (min-width: $SCREEN_WIDTH_MD) {
  @import '_grid_md';
}

@media only screen and (min-width: $SCREEN_WIDTH_LG) {
  @import '_grid_lg';
}
