*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
}

ul {}
ol {}
img { max-width: 100%; }
p {}

mark {}
del {}
s {}
ins {}
u {}
small {}
strong {}
em {}


